{% extends 'base.html' %}
{% block content %}

<h3>
  Registro
</h3>
<form method='POST'>
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-success" type='submit'>registrar</button>
</form>

{% endblock %}
